
<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat-col {
        margin:0 0 10px 0;
    }
    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }


    #statistics .panel {
        min-height: 150px;
    }

    #statistics .panel h5 {
        font-size: 14px;
    }
</style>
<div class="panel panel-default panel-intro">
     
            <div class="tab-pane fade" id="two">
                <div class="row">
                    <div class="col-xs-12">
                       
                      <h1>  PLANT </h1>
                    </div>
                </div>

                      <div class="row">
                        <div class="col-lg-3 col-6">

                        <div class="small-box bg-info">
                        <div class="pull-right"> 
                            <h5> CAT02</h5>
                        </div>
                        <div class="inner">
                        <h3>150</h3>
                        <p>New Orders</p>
                        </div>

                        <div class="icon">
                        <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa address-book"></i></a>
                        </div>
                        </div>

                        <div class="col-lg-3 col-6">

                        <div class="small-box bg-success">
                        <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                        <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        </div>

                        <div class="col-lg-3 col-6">

                        <div class="small-box bg-warning">
                        <div class="inner">
                        <h3>44</h3>
                        <p>User Registrations</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        </div>

                        <div class="col-lg-3 col-6">

                        <div class="small-box bg-danger">
                        <div class="inner">
                        <h3>65</h3>
                        <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        </div>

                    </div>

 

                    <div class="row">
                        
                        <div class="col-xs-12">                      
                              <h1> UAP1 </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 ">
                            <div class="info-box  bg-warning">
                              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Inventory</span>
                                <span class="info-box-number">5,200</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-success">
                              <span class="info-box-icon"><i class="far fa-heart"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Mentions</span>
                                <span class="info-box-number">92,050</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-danger">
                              <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Downloads</span>
                                <span class="info-box-number">114,381</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box col-lg-3 bg-info">
                              <span class="info-box-icon"><i class="far fa-comment"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Direct Messages</span>
                                <span class="info-box-number">163,921</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>


                    </div> <!---UAP1 结尾---->
                    

                    <div class="row">
                        
                        <div class="col-xs-12">                      
                              <h1> UAP2 </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 ">
                            <div class="info-box  bg-warning">
                              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Inventory</span>
                                <span class="info-box-number">5,200</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-success">
                              <span class="info-box-icon"><i class="far fa-heart"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Mentions</span>
                                <span class="info-box-number">92,050</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-danger">
                              <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Downloads</span>
                                <span class="info-box-number">114,381</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box col-lg-3 bg-info">
                              <span class="info-box-icon"><i class="far fa-comment"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Direct Messages</span>
                                <span class="info-box-number">163,921</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>


                    </div> <!---UAP3 结尾---->

                    <div class="row">
                        
                        <div class="col-xs-12">                      
                              <h1> UAP3 </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 ">
                            <div class="info-box  bg-warning">
                              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Inventory</span>
                                <span class="info-box-number">5,200</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-success">
                              <span class="info-box-icon"><i class="far fa-heart"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Mentions</span>
                                <span class="info-box-number">92,050</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box   bg-danger">
                              <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Downloads</span>
                                <span class="info-box-number">114,381</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="info-box col-lg-3 bg-info">
                              <span class="info-box-icon"><i class="far fa-comment"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text">Direct Messages</span>
                                <span class="info-box-number">163,921</span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>


                    </div> <!---UAP2 结尾---->


            </div> <!---ID=two 结尾---->
 
</div>
