 <!-- <link rel="stylesheet" href="asset/css/adminlte.min.css">  -->
<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat-col {
        margin:0 0 10px 0;
    }
    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }


    #statistics .panel {
        min-height: 150px;
    }

    #statistics .panel h5 {
        font-size: 14px;
    }

.pagination-month .page-item .page-month {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 700;
    0: ;
}

 
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.small-box .bg-info {
    background-color: #17a2b8!important;
}

    /*.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    }

    .pagination-month .page-item {
      justify-self: stretch;
    }

    .pagination-month .page-item .page-link {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-direction: column;
      flex-direction: column;
      box-shadow: none;
    }

    .pagination-month .page-item:first-child .page-link, .pagination-month .page-item:last-child .page-link {
      height: 100%;
      font-size: 1.25rem;
    }

    .pagination-month .page-item .page-month {
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 700;
    }

    .pagination-month .page-item .page-year {
      margin-bottom: 0;
    }

    .pagination-month.pagination-lg .page-month {
      font-size: 1.5625rem;
    }

    .pagination-month.pagination-sm .page-month {
      font-size: 1rem;
    }
*/
 


</style>

<div class="row">
    <div class="card" >
        <div class="card-body text-center">

            <ul class="pagination pagination-month  justify-content-center "  >
                               {$lastyear} 
                               {foreach name='monthlist' id='vo'}
                                 
                                    {$vo} 
                                  
                                {/foreach}
                                {$nextyear} 
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default panel-intro">
    
<!--                 <div class="row">
                    <div class="col-xs-1">  
                                          
                             {$lastyear} 
                        
                    </div>
                    <div class="col-xs-10">                       
                      <div class="row">
                        {foreach name='monthlist' id='vo'}
                         <div class="col-xs-1"> 
                            {$vo} 
                         </div>
                         {/foreach}
                         
                      </div>
                    </div>
                    <div class="col-xs-1">                       
                       {$nextyear} 
                    </div>
                </div> -->

            <div class="tab-pane  " id="two">
                <div class="row">
                    <div class="col-xs-12">
                       
                      <h1>  </h1>
                    </div>
                </div>

                      <div class="row">
                        <div class="col-lg-2  col-md-4 col-6  col-xs-6 ">
                            <div class="small-box bg-info" style=" background-color: #17a2b8!important;">
                                <div class="pull-right"> 
                                    <h5> </h5>
                                </div>
                                <div class="inner">
                                   <h3>PLANT</h3>
                                   <p> {$thismonth}</p>
                                    <p> {$thisyear}</p> 
                                </div>

                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                               <a href="/ct.php/dashboard/listmonth?unit=plant&ctdate={$ctdate} " class="small-box-footer"> More info <i class="fa fa-external-link"></i>  </a>
                            </div>
                        </div>

                        {foreach name="ct" id="vo"}
                        <div class="col-lg-2 col-md-4 col-6  col-xs-6 ">
                            <div class="small-box bg-info" style=" background-color: #17a2b8!important;">
                                 
                                <div class="inner">
                                    {if $vo.DiffPer >0 }
                                        <h3><i class="fa fa-arrow-up"></i> {$vo.DiffPer} %</h3>
                                    {else}
                                        <h3><font color='#f00'> <i class="fa fa-arrow-down"></i> {$vo.DiffPer } %</font></h3>
                                    {/if} 
                                    <p><i class="fa fa-clock-o"></i>{$vo.CT }  ({$vo.SapCT })</p> 
                                    <p>{$vo.Parts }</p>
                                </div>

                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer"> <i class="fa fa-gavel"></i>{$vo.PLC_ID  } </a>
                            </div>
                        </div>
                        {/foreach}
 

                    </div>

 

                    <div class="row">
                        
                        <div class="col-xs-12">                      
                              <h1>  </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2  col-md-4   col-xs-6 ">
                            <div class="info-box  bg-warning ">
                              <span class="info-box-icon"><i class="fa fa-cubes"></i></span>

                              <div class="info-box-content"  >
 
                                <span class="info-box-text"><h3><a href='/ct.php/dashboard/listmonth?unit=uap1&ctdate={$ctdate} ' ><font color='#000'>UAP1<i class="fa fa-external-link"></i></font></a></h3></span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div> 
                        {foreach name='uap1' id='vo' }
                            <div class="col-lg-2  col-md-4  col-xs-6 ">
                                <div class="info-box  bg-warning">
                                        {if $vo.DiffPer>0 }
                                            <span class="info-box-icon"><i class="fa fa-angle-up"></i> </span> 
                                        {else}
                                            <span class="info-box-icon"><font color='#f00'><i class="fa fa-angle-down"></i></font></span>
                                        {/if}
                                   
                                    <div class="pull-right"> 
                                        <h5> {$vo.PLC_ID  }</h5>
                                    </div>
                                  <div class="info-box-content">
                                        {if $vo.DiffPer<0 }
                                            <span class="info-box-number"><font color='#f00'>{$vo.DiffPer}%</font></span>
                                        {else}
                                            <span class="info-box-number"> {$vo.DiffPer}% </span>
                                        {/if}

                                        
                                    <span class="info-box-text"><i class="fa fa-clock-o"></i>{$vo.CT }  ({$vo.SapCT })  </span>
                                    <span class="info-box-text">{$vo.Parts }</span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                            </div>
                        {/foreach}
                         

                    </div> <!---UAP1 结尾---->
                    
                    <div class="row">
                        <div class="col-lg-2  col-md-4  col-xs-6 ">
                            <div class="info-box  bg-success">
                                <span class="info-box-icon"><i class="fa fa-joomla"></i></span>
                                  <div class="info-box-content">
                                    <span class="info-box-text"><h3><a href='/ct.php/dashboard/listmonth?unit=uap2&ctdate={$ctdate} ' ><font color='#000'>UAP2<i class="fa fa-external-link"></i></font></a></h3></span>
                                    <span class="info-box-number"></span>
                                  </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div>  

                        {foreach name='uap2' id='vo' }
                            <div class="col-lg-2  col-md-4  col-xs-6 ">
                                <div class="info-box  bg-success">
                                        {if $vo.DiffPer>0 }
                                            <span class="info-box-icon"><i class="fa fa-angle-up"></i> </span> 
                                        {else}
                                            <span class="info-box-icon"><font color='#f00'><i class="fa fa-angle-down"></i></font></span>
                                        {/if}
                                   
                                    <div class="pull-right"> 
                                        <h5> {$vo.PLC_ID  }</h5>
                                    </div>
                                  <div class="info-box-content">
                                        {if $vo.DiffPer<0 }
                                            <span class="info-box-number"><font color='#f00'>{$vo.DiffPer}%</font></span>
                                        {else}
                                            <span class="info-box-number"> {$vo.DiffPer}% </span>
                                        {/if}

                                        
                                    <span class="info-box-text"><i class="fa fa-clock-o"></i>{$vo.CT }  ({$vo.SapCT })  </span>
                                    <span class="info-box-text">{$vo.Parts }</span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                            </div>
                        {/foreach}
                         

                    </div> <!---UAP2 结尾---->
                    
                    <div class="row">
                        <div class="col-lg-2  col-md-4  col-xs-6 ">
                            <div class="info-box  bg-danger">
                              <span class="info-box-icon"><i class="fa fa-gear"></i></span>

                              <div class="info-box-content">
                                <span class="info-box-text"><h3><a href='/ct.php/dashboard/listmonth?unit=uap3&ctdate={$ctdate} ' ><font color='#000'>UAP3<i class="fa fa-external-link"></i></font></a></h3></span>
                                <span class="info-box-number"></span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                        </div> 
                        {foreach name='uap3' id='vo' }
                            <div class="col-lg-2  col-md-4  col-xs-6 ">
                                <div class="info-box  bg-danger">
                                        {if $vo.DiffPer>0 }
                                            <span class="info-box-icon"><i class="fa fa-angle-up"></i> </span> 
                                        {else}
                                            <span class="info-box-icon"><font color='#f00'><i class="fa fa-angle-down"></i></font></span>
                                        {/if}
                                   
                                    <div class="pull-right"> 
                                        <h5> {$vo.PLC_ID  }</h5>
                                    </div>
                                  <div class="info-box-content">
                                        {if $vo.DiffPer<0 }
                                            <span class="info-box-number"><font color='#f00'>{$vo.DiffPer}%</font></span>
                                        {else}
                                            <span class="info-box-number"> {$vo.DiffPer}% </span>
                                        {/if}

                                        
                                    <span class="info-box-text"><i class="fa fa-clock-o"></i>{$vo.CT }  ({$vo.SapCT })  </span>
                                    <span class="info-box-text">{$vo.Parts }</span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                            </div>
                        {/foreach}

                         

                    </div> <!---UAP3 结尾---->
            </div> <!---ID=two 结尾---->
 
</div>
